<div class="trello-board">
	<div class="trello-list">
		<div class="trello-list-header">
			<div class="title">List</div>
			<div class="menu">
				<div class="menu-toggler">
					<span class="icon-dots-three-horizontal"></span>
				</div>
				<div class="menu-dropdown"></div>
			</div>
		</div>
		<div class="trello-cards-holder">
			<div class="trello-cards-item">
				<div class="edit">
					<span class="icon-edit"></span>
				</div>
				<div class="trello-cards-item-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, necessitatibus.</div>
			</div>
			<div class="trello-cards-item">
				<div class="edit">
					<span class="icon-edit"></span>
				</div>
				<div class="trello-cards-item-inner">222</div>
			</div>
		</div>
		<a class="add-card" href="#">Add a card...</a>
	</div>
	<a href="#" class="trello-list-add">Add a list...</a>
</div>